.services {
  position: relative;
  padding: 185px 0px 210px 0px;
  z-index: 1;
  @include laptop-min {
    padding: 120px 0px 160px 0px;
  }
  @include tablet {
    padding-bottom: 120px;
  }
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 315px;
    background: url('@img/frame-white-rotate.png') 0 0 / 100% auto no-repeat;
    background-color: var(--sand);
    z-index: -1;
    @include laptop-middle {
      height: 220px;
    }
    @include tablet {
      height: 150px;
    }
    @include mobile {
      height: 110px;
    }
  }
  &__breadcrumbs {
    justify-content: center;
  }
  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}