:root {
  --black: #161b17;
  --porcelain: #f2f6f6;
  --drift: #f3f6f1;
  
  --primary: #81C053;
  --cream: #f4d558;
  --rainee: #b0c7a0;
  
  --cord: #5c605d;
  --stack: #8b8d8b;
  --lunar: #454945;
  
  --sand: #f4f4f4;
  --nurse: #eaf0ec;
  --alabaster: #f9f9f9;
}