<section
  class="connection"
  style="background: url(&quot;@img/connection.jpg&quot;) 0 0 / cover no-repeat"
>
  <div class="container">
    <div class="connection__body">
      <div class="connection__info">
        <h2 class="title title-2 connection__title">
          Оставьте заявку прямо сейчас и получите <span>скидку 10%</span>
        </h2>
        <p class="connection__content">
          Мы свяжемся с Вами в течение рабочего дня. В ночное время Вы можете самостоятельно
          связаться с нами по круглосуточному телефону в Казани: 
        </p>
        <a href="tel:+79872708050" class="connection__tel">
          <svg class="connection__tel-icon">
            <use xlink:href='img/icons/icons.svg#icon-tel'></use>
          </svg>
          <span>+7 (987) 270-80-50</span>
        </a>
      </div>
      <form action="#" class="form">
        <label for="connection-order-name" class="form__item">
          <input type="text" id="connection-order-name" placeholder="Имя" class="form__input" />
        </label>
        <label for="connection-order-tel" class="form__item">
          <input type="tel" id="connection-order-tel" placeholder="Телефон" class="form__input" />
        </label>
        <div class="form__item">
          <div class="select">
            <button class="btn select__btn">
              <span class="select__title">Интересующая услуга</span>
              <svg class="select__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
            <input type="text" class="select__input" />
            <ul class="list select__list">
              <li class="select__item">Уничтожаем мокриц</li>
              <li class="select__item">Уничтожаем крыс</li>
              <li class="select__item">Уничтожаем мокриц</li>
              <li class="select__item">Уничтожаем крыс</li>
              <li class="select__item">Уничтожаем мокриц</li>
              <li class="select__item">Уничтожаем крыс</li>
              <li class="select__item">Уничтожаем мокриц</li>
              <li class="select__item">Уничтожаем крыс</li>
              <li class="select__item">Уничтожаем мокриц</li>
            </ul>
          </div>
        </div>
        <button class="btn btn-main form__btn _show">Отправить</button>
        <p class="form__policy">
          Нажимая кнопку, Вы соглашаетесь с <a href="#">политикой обработки персональных данных</a>
        </p>
      </form>
    </div>
  </div>
</section>
