<section class="contacts">
  <div class="container">
    <h2 class="title title-2 contacts__title">НАШИ КОНТАКТЫ</h2>
    <div class="contacts__info">
      <h5 class="contacts__info-title">Свяжитесь с нами</h5>
      <ul class="list contacts__buttons">
        <li>
          <a href="tel:+7 (987) 270-80-50" class="contacts__tel">
            <svg class="contacts__icon">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            <span>+7 (987) 270-80-50</span>
          </a>
        </li>
        <li>
          <a href="mailto:info@domain.ru" class="contacts__mail">
            <svg class="contacts__icon">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            <span>info@domain.ru</span>
          </a>
        </li>
      </ul>
      <ul class="list contacts__social">
        <li>
          <a href="#" target="_blank" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="contacts__social-btn">
            <svg class="contacts__social-icon">
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="list contacts__addresses">
        <li class="contacts__address">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
          <span>г. Казань, ул. Гаврилова, 42</span>
        </li>
        <li class="contacts__address">
          <svg class="contacts__icon">
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
          <span>г. Казань, ул. 6-й квартал, 26</span>
        </li>
      </ul>
      <span class="contacts__work">Круглосуточно</span>
    </div>
  </div>
  <div
    class="contacts__map"
    id="map"
    data-center="[55.838532828967125,49.15875190674588]"
    data-zoom="18"
  ></div>
</section>
