<section class="hero" style="background: url(&quot;@img/hero.jpg&quot;) 0 0 / cover no-repeat">
  <div class="container">
    <h1 class="title title-1 hero__title">
      Избавим навсегда от всех насекомых и грызунов в Казани И РТ
    </h1>
    <ul class="list hero__list">
      <li>
        <svg class="hero__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-plus"></use>
        </svg>
        <span>Безопасно для людей и животных</span>
      </li>
      <li>
        <svg class="hero__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-plus"></use>
        </svg>
        <span>Обработка квартиры от 6 000 ₽</span>
      </li>
      <li>
        <svg class="hero__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-plus"></use>
        </svg>
        <span>Гарантия на истребление</span>
      </li>
      <li>
        <svg class="hero__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-plus"></use>
        </svg>
        <span>Работаем круглосуточно</span>
      </li>
      <li>
        <svg class="hero__list-icon">
          <use xlink:href="img/icons/icons.svg#icon-plus"></use>
        </svg>
        <span>Соседи не узнают</span>
      </li>
    </ul>
    <button data-modal="call" class="btn btn-modal btn-main hero__btn _show">Вызвать специалиста</button>
    <ul class="list hero__benefits">
      <li class="hero__benefits-item">
        <div class="hero__item-head">
          <h5 class="hero__item-title">Безопасно</h5>
          <img src="@img/icon-security.svg" alt="icon" class="hero__item-icon" />
        </div>
        <p class="hero__item-content">
          Мы используем только сертифицированные препараты премиум-класса. Они абсолютно безопасны
          для детей и животных
        </p>
      </li>
      <li class="hero__benefits-item">
        <div class="hero__item-head">
          <h5 class="hero__item-title">Безопасно</h5>
          <img src="@img/icon-security.svg" alt="icon" class="hero__item-icon" />
        </div>
        <p class="hero__item-content">
          Среднее время обработки квартиры - 30 минут. Выезд специалиста в удобное для вас время
        </p>
      </li>
      <li class="hero__benefits-item">
        <div class="hero__item-head">
          <h5 class="hero__item-title">Безопасно</h5>
          <img src="@img/icon-security.svg" alt="icon" class="hero__item-icon" />
        </div>
        <p class="hero__item-content">
          Мы используем только сертифицированные препараты премиум-класса. Они абсолютно безопасны
          для детей и животных
        </p>
      </li>
    </ul>
    <img src="@img/people.png" alt="image" class="hero__people">
  </div>
</section>
