<section class="steps">
  <div class="container">
    <h2 class="title title-2 steps__title">
      Сделайте 4 шага к <span>полному избавлению</span> от насекомых и грызунов
    </h2>
    <div class="steps__body">
      <article class="steps__item">
        <div class="steps__item-circle"></div>
        <h5 class="steps__number-title">Шаг 1</h5>
        <h5 class="steps__item-title">Заявка или звонок</h5>
        <p class="steps__content">
          Вы оставляете заявку на нашем сайте или звоните нам по телефону
          <a href="tel:+7 (987) 270-80-5">+7 (987) 270-80-5</a>
        </p>
      </article>
      <article class="steps__item">
        <div class="steps__item-circle"></div>
        <h5 class="steps__number-title">Шаг 1</h5>
        <h5 class="steps__item-title">Заявка или звонок</h5>
        <p class="steps__content">
          Вы оставляете заявку на нашем сайте или звоните нам по телефону
          <a href="tel:+7 (987) 270-80-5">+7 (987) 270-80-5</a>
        </p>
      </article>
      <article class="steps__item">
        <div class="steps__item-circle"></div>
        <h5 class="steps__number-title">Шаг 1</h5>
        <h5 class="steps__item-title">Заявка или звонок</h5>
        <p class="steps__content">
          Вы оставляете заявку на нашем сайте или звоните нам по телефону
          <a href="tel:+7 (987) 270-80-5">+7 (987) 270-80-5</a>
        </p>
      </article>
      <article class="steps__item">
        <div class="steps__item-circle"></div>
        <h5 class="steps__number-title">Шаг 1</h5>
        <h5 class="steps__item-title">Заявка или звонок</h5>
        <p class="steps__content">
          Вы оставляете заявку на нашем сайте или звоните нам по телефону
          <a href="tel:+7 (987) 270-80-5">+7 (987) 270-80-5</a>
        </p>
      </article>
    </div>
  </div>
</section>
