.video {
  @include flex-center;
  position: relative;
  width: 685px;
  height: 480px;
  border-radius: 20px;
  overflow: hidden;
  @include laptop {
    width: 515px;
    height: 340px;
  }
  @include laptop-middle {
    width: 685px;
    height: auto;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover
  }
  &__btn {
    @include flex-center;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    transition: transform .2s ease;
    @include hover {
      transform: scale(1.1);
    }
  }
  &__icon {
    width: 25px;
    height: 25px;
    color: var(--primary);
  }
}